<h2 class="titulo">Productos actualizados en tiempo real</h2>

<div id="contenedorProductos"></div>

<h2>Formulario para agregar productos</h2>

<form>
  <input type="text" id="title" placeholder="Titulo" />
  <input type="text" id="description" placeholder="Descripcion" />
  <input type="number" id="price" placeholder="Precio" />
  <input type="file" id="img" accept="image/*" />
  <input type="text" id="code" placeholder="Código" />
  <input type="number" id="stock" placeholder="Stock" />
  <input type="text" id="category" placeholder="Categoria" />
  <select id="status">
    <option value="true"> Activo </option>
    <option value="false"> Inactivo </option>
  </select>
  <button type="button" id="btnAgregarProducto"> Agregar Producto </button>
</form>

<script
  src="https://cdn.socket.io/4.7.5/socket.io.min.js"
  integrity="sha384-2huaZvOR9iDzHqslqwpR87isEmrfxqyWOF7hr7BY6KG0+hVKLoEXMPUJw3ynWuhO"
  crossorigin="anonymous"
></script>
<script src="js/main.js"></script>